.container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.list {
	display: flex;
	flex-direction: column;
}

.validUntil {
	color: var(--color-gray1);
	margin-bottom: 8px;
}

.header {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 32px;
	margin-bottom: 8px;
	span {
		font-weight: 700;
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

.title {
	font-weight: 700;
}

.titleContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
	margin-bottom: 32px;
}
