.card {
	background: var(--color-gray3);
	border: 2px solid var(--color-gray2);
	border-radius: 12px;
	padding: 20px 24px;
	flex: 1;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
	margin-bottom: 16px;
}

.amount {
	font-weight: 600;
}
