.row {
	padding: 12px 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
	gap: 32px;
}

.pair {
	text-transform: uppercase;
}

.buy {
	color: var(--color-blue2);
}

.sell {
	color: var(--color-gray1);
}

.pairBadge {
	display: flex;
	align-items: center;
	gap: 8px;
	div {
		display: flex;
		flex-direction: column;
		gap: 4px;
		p {
			margin: 0;
			color: #545454;
			font-weight: 700;
			line-height: 0.6;
		}
		span {
			margin: 0;
			color: #aaaaaa;
			font-weight: 300;
			font-size: 12px;
			white-space: nowrap;
		}
	}
}

.priceBadge {
	height: 100%;
	background-color: #efefef;
	padding: 10px 16px;
	border-radius: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4px;
	p {
		margin: 0;
		color: #545454;
		font-weight: 700;
		line-height: 0.6;
		font-size: 14px;
		white-space: nowrap;
	}
	span {
		margin: 0;
		color: #545454;
		font-weight: 300;
		font-size: 12px;
	}
}
