.sidebar {
	width: 362px;
	background-color: var(--color-blue1);
	background-image: url("../../../../../assets/images/illustrations.svg");
	background-repeat: repeat;
	padding: 128px 82px 76px 0px;
	display: flex;
	flex-direction: column;
	gap: 2px;

	a {
		color: var(--color-white);
		text-decoration: none;
		padding: 20px 0px 20px 82px;
		border-radius: 0 32px 32px 0;
	}
	a:hover {
		background: rgba(255, 255, 255, 0.1);
	}
	a.active {
		background: var(--color-blue2);
		font-weight: 600;
	}
	button {
		background: none;
		border: none;
		cursor: pointer;
		color: var(--color-white);
		padding: 0;
		font-weight: 400;
		text-align: left;
		margin-left: 82px;
		margin-top: auto;
	}
}
